<div class="container-field reservations">
  <h4>予約済みルーム一覧</h4>
  <table class="reservations">
    <thead>
      <tr align="center">
        <th>ルーム画像</th>
        <th>ルーム名</th>
        <th>ルーム紹介</th>
        <th>合計金額</th>
        <th>開始日</th>
        <th>終了日</th>
        <th>予約確定日時</th>
      </tr>
    </thead>
    <tbody>
      <% @reservations.each do |reservation| %>
        <tr>
          <td><%= link_to (image_tag reservation.hotel.hotel_img.url, :size => '240x140'), controller: 'hotels', action: 'show', id: reservation.hotel.id %></td>
          <td class="posts-name"><%= link_to reservation.hotel.hotel_name, controller: 'hotels', action: 'show', id: reservation.hotel.id %></td>
          <td class="posts-contents"><%= reservation.hotel.hotel_introduction %></td>
         <td><%= reservation.hotel.hotel_price * reservation.human * (reservation.end_date - reservation.start_date).to_i %>円</td>
         <td><%= reservation.start_date %></td>
         <td><%= reservation.end_date %></td>
         <td><%= reservation.created_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


